<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Beyond Sound</title>
    <link rel="stylesheet" href="../static/BOOTSTRAP/bootstrap-5.3.8-dist/bootstrap-5.3.8-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">

</head>

<body style="background-color:  #f4ffff;">
    <!-- menu bar/navigation bar -->
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid px-4" style="background: linear-gradient(180deg, #7af6ee, #eafffe);padding: 20px;">

            <!-- Logo -->
            <a class="navbar-brand fw-bold" href="#">Sign2Speak</a>

            <!-- Mobile toggle -->
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#mobileMenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Desktop Menu -->
            <div class="collapse navbar-collapse d-none d-lg-flex">

                <!-- Center menu -->
                <ul class="navbar-nav mx-auto gap-4">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('userguide') }}">User Guide</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('connectwithus') }}">Help</a></li>
                </ul>

                <!-- Right buttons -->
                <div class="d-flex gap-2">
                    <a href="{{ url_for('register') }}" class="btn btn-outline-secondary btn-sm"
                        style="font-size: 20px;">Register</a>
                    <a href="{{ url_for('login') }}" class="btn btn-outline-secondary btn-sm"
                        style="font-size: 20px;">Login</a>
                </div>

            </div>
        </div>
    </nav>

    <!-- Mobile Offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu">
        <div class="offcanvas-header">
            <h6 class="offcanvas-title">Menu</h6>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body" style="background: linear-gradient(180deg, #7af6ee, #eafffe);">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('userguide') }}">User Guide</a></li>

                <li class="nav-item"><a class="nav-link" href="{{ url_for('connectwithus') }}">Help</a></li>
                <hr>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </div>
    </div>

    <div class="container py-5">
        <div class="row justify-content-center">

            <div class="col-lg-5 col-md-8 col-sm-10">
                <section class="form" style="background: linear-gradient(180deg, #7af6ee, #eafffe);padding: 20px;border-radius: 20px;">

                    <div class="contact-form-heading mb-4 text-center">
                        <h2>Stay In Touch</h2>
                    </div>

                    <form action="/connectwithus" method="post">

                        <div class="mb-3">
                            <label class="form-label">
                                Name <span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="Name" required name="con_name">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">
                                Contact Number <span class="text-danger">*</span>
                            </label>
                            <input type="tel" class="form-control" placeholder="Phone No" required name="con_no">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">
                                Email <span class="text-danger">*</span>
                            </label>
                            <input type="email" class="form-control" placeholder="Email Id" required name="con_email">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Queries</label>
                            <textarea class="form-control" rows="3" name="con_query"></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Feedback</label>
                            <textarea class="form-control" rows="3" name="con_feedback"></textarea>
                        </div>

                        <button type="submit" class="btn custom-btn w-100">
                            Submit
                        </button>

                    </form>
                </section>
            </div>

        </div>
    </div>
    <!-- footer -->
    <section class="footer" style="background: linear-gradient(180deg, #7af6ee, #eafffe);text-align:center;">
        <div class="container">
            <footer style="padding: 20px;" >
                <h6 style="text-align: center;">Bridging communication between sign language and speech</h6>
                <a href="{{ url_for('connectwithus') }}" style="text-decoration: none;color: black;" class="reachus">Reach us</a>
                <hr> 
                <p style="text-align: center;">© 2025 Voice Beyond Sound | Built for Inclusive Communication.</p>


            </footer>
        </div>

    </section>


    <script src="../static/BOOTSTRAP/bootstrap-5.3.8-dist/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>